.widget-response{
	position:relative;
}

.animation_container.widget{
	width:100%;
	height:100%;
	display:none;
}

.c4c-widget-class h2, .c4c-widget-class h2 a {
  clear: both !important;
  font-size: 16px !important;

}

.c4c-widget-class img {
  border: 1px solid #E9E9E9;
  height: auto !important;
  width: 100% !important;
}

.widget-description{
	margin: 20px 0 20px 0;
}

.c4c-widget-class .c4c-form .search-form-wrap ul li {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.c4c-widget-class .search-course-page-search-form-wrap {
  margin-bottom: 20px;
  overflow: hidden;
}

.c4c-widget-class .course-container .course{
  margin-bottom: 20px;
  min-height: auto;
}