
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: rgba(0, 0, 0, 0) url("../images/chosen-sprite.png") no-repeat scroll -42px 1px !important;
}

.wp-core-ui .button-group.button-xlarge .button, .wp-core-ui .button.button-xlarge {
  font-size: 14px;
  font-weight: 600;
  height: 38px;
  line-height: 36px;
  padding: 0 34px;
  text-align:center;
}

.btn-primary {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  color: #fff !important;
}
.btn-primary:hover {
  background-color: #286090 !important;
  border-color: #204d74 !important;
  color: #fff !important;
}

.btn-success {
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  color: #fff !important;
}
.btn-success:hover {
  background-color: #449d44 !important;
  border-color: #398439 !important;
  color: #fff !important;
}

.btn-warning {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  color: #fff !important;
}
.btn-warning:hover {
  background-color: #ec971f !important;
  border-color: #d58512 !important;
  color: #fff !important;
}
.btn-danger {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  color: #fff !important;
}
.btn-danger:hover {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    color: #fff !important;
}

/*** content */

.c4c_add_career.button{
	display:block;
	width:200px;
	margin:20px 0;
}
.c4c-form, #active-content, #c4c-content{
	position:relative;
}
.c4c-form {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ececec;
  border-color: -moz-use-text-color #ccc #ccc;
  border-image: none;
  border-radius: 6px;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  margin: 20px;
  padding: 40px 0 15px 40px;
  width: 50%;
}
.chosen-container{
	width:95% !important;
}

div .inputs {
  display: block;
  padding: 10px 0;
  width: 30%;
}

div .inputs.courses {
  display: block;
  float: right;
  margin-top: -170px;
  width: 70%;
}

div .inputs label, div .inputs input, div .inputs textarea {
	display:block;
}
.drag-drop-bar {
  background: #23282d none repeat scroll 0 0;
  border: 1px none transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor:move;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.inputs label {
  cursor: default;
  font-size: 14px;
  font-weight: 600;
}

/*** loader */
.animation_container{
	widows:100%;
	height:100%;
	display:none;
}
.big_animation_container{
	widows:100%;
	height:100%;
	display:none;
	z-index: 1001;
}
.action-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.big_animation_container .action-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: absolute;
  top: 0;
  width: 55%;
  z-index: 1000;
}

.sampleContainer {
  bottom: 50%;
  left: 50%;
  position: absolute;
}
.big_animation_container .sampleContainer {
  bottom: 50%;
  left: 25%;
  position: absolute;
  z-index: 1001;
}
.loader {
	position: relative;
	width: 44px;
	height: 8px;
	margin: 12px auto;
}

.dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #ccc;
	position: absolute;
}

.dot_1 {
	animation: animateDot1 1.5s linear infinite;
	left: 12px;
	background: #e579b8;
}

.dot_2 {
	animation: animateDot2 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 24px;
}

.dot_3 {
	animation: animateDot3 1.5s linear infinite;
	left: 12px;
}

.dot_4 {
	animation: animateDot4 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 24px;
}

@keyframes animateDot1 {
	0% {
		transform: rotate(0deg) translateX(-12px);
	}

	25% {
		transform: rotate(180deg) translateX(-12px);
	}

	75% {
		transform: rotate(180deg) translateX(-12px);
	}

	100% {
		transform: rotate(360deg) translateX(-12px);
	}
}

@keyframes animateDot2 {
	0% {
		transform: rotate(0deg) translateX(-12px);
	}

	25% {
		transform: rotate(-180deg) translateX(-12px);
	}

	75% {
		transform: rotate(-180deg) translateX(-12px);
	}

	100% {
		transform: rotate(-360deg) translateX(-12px);
	}
}

@keyframes animateDot3 {
	0% {
		transform: rotate(0deg) translateX(12px);
	}

	25% {
		transform: rotate(180deg) translateX(12px);
	}

	75% {
		transform: rotate(180deg) translateX(12px);
	}

	100% {
		transform: rotate(360deg) translateX(12px);
	}
}

@keyframes animateDot4 {
	0% {
		transform: rotate(0deg) translateX(12px);
	}

	25% {
		transform: rotate(-180deg) translateX(12px);
	}

	75% {
		transform: rotate(-180deg) translateX(12px);
	}

	100% {
		transform: rotate(-360deg) translateX(12px);
	}
}